/*import fonts from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/*css reset*/
/*css grid*/
.grid{
    display: flex;
    gap: 24px;
    flex-direction: row;
}
/*css grids column width*/
.grid-col-thrid{
    flex-basis: 33.33%;
}
.grid-col-twothirds{
    flex-basis: 66.66%;
}
*{
    padding: 0;
    margin: 0;
    font-size: 100%;
    line-height: 1rem;
}
/*default styles fro whole group*/
body{
    color: #000000;
    border-color: #252424;
    background-color: #f2bb75;
    margin-left: 15px;
    margin-right: 15px;
    padding: 40px;
    .container{
        max-width: 1000px;
        margin: 0 auto 0 auto;
    }
}
.section{
    display: flex;
    justify-content: space-between;
    padding: 0%;
    width: 100%;
    margin: 10rem auto 10rem auto;
}
.section p{
    color: #ff00b3;
    margin-right: 15px;
    margin-left: 15px;
    padding: 40px;
}
/*content container to center content*/
.content{
    max-width: 1020px;
    margin: 0 auto 0 auto;
}
/*default styling for headings*/
h1,h2,h3,h4{
    font-family:Arial, Helvetica, sans-serif;
    line-height: 1.1;
    font-weight: 700;
}
/*specific styles*/
h1{
    font-size: 4.25rem;
    margin-bottom: 2rem;
    font-weight: 900;
    color: #252424;
}
h2{
    font-size: 2.25rem;
    margin-bottom: 0.5rem;
}
h3{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
h4{
    font-size: 2rem;
    margin-bottom: 0.5rem;
}
/*paragraphs*/
p{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.125rem;
    margin-bottom: 1.5rem;
    font-style: normal;
}
/*paragraph large*/
p.large{
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    font-weight: 400;
    font-style: italic;
    line-height: 1.5;
    font-size: 1.5rem;
    margin-bottom: 2.5rem;
}
ul{
    list-style: disc outside;
    margin-bottom: 1.5rem;
    margin-left: 1.25rem;
}
ul li{
    font-family:Arial, Helvetica, sans-serif;
    font-weight: 400;
    line-height: 1.5;
    font-size: 1.125rem;
    margin-bottom: 0.5rem;
}
/*hyperlinks*/
a{
    font-family: 'Times New Roman', Times, serif;
    font-size: inherit;
    line-height: inherit;
    color: #030f67;
}
a:hover{
    color: #8585ff;
}
a:visited{
    color: #3a033a;
}
/*images*/
img{
    max-width: 1020px;
    width: 100%;
    height: auto;
    border: 1px solid #000000;
    margin-bottom: 2rem;
}
.img-boston{
    width: 300px;
    height: 200px;
}
.img-danoisedafunk{
    width: 300px;
    height: 200px;
}
.img-hair{
    width: 300px;
    height: 200px;
}
.img-map2{
    width: 300px;
    height: 200px;
}
.img-map3{
    width: 300px;
    height: 200px;
}
.img-map{
    width: 300px;
    height: 200px;
}
.img-otherwork2{
    width: 300px;
    height: 200px;
}
.img-otherwork3{
    width:300px;
    height: 200px;
}
.img-otherwork{
    width: 300px;
    height: 200px;
}
.img-paulaselfimage{
    width: 300px;
    height: 200px;
}
.img-presenting{
    width: 300px;
    height: 200px;
}
.img-public{
    width: 300px;
    height: 200px;
}
.img-swatch{
    width: 300px;
    height: 200px;
}
.img-thegreatdisconnect{
    width: 300px;
    height: 200px;
}
/*blockcode*/
figure.quote blockquote{
    margin-bottom: 0.5rem;
}
figure.quote figcaption{
    font-weight: 700;
}
footer{
    padding: 1.5rem 0 1.5rem 0;
    margin-top: 2rem;
    border-top: 1px solid #faa6a6;
}
main{
    margin-bottom: 2.5rem;
}
header{
    margin-bottom: 2.5rem;
}
header.logo{
    font-weight: 700;
    margin-bottom: 0;
    font-size: 1.75rem;
    line-height: 1.1;
}
.colour-block{
    padding: 3rem 0 3rem 0;
    background-color: #8585ff;
    margin-bottom: 2.5rem;
}
.highlight{
    background-color: #00ffff;
    padding: 0 0.5rem;
}
/*media queries*/
@media only screen and (max-width:600px){
    .container{
        margin: 0 16px 0 16px;
    }
    h1{
        font-size: 2.25rem;
        margin-bottom: 1rem;
    }
    h2{
        font-size: 1.875rem;
    }
    h3{
        font-size: 1.5rem;
    }
    h4{
        font-size: 1.25rem;
    }
    p.large{
        font-size: 1.25rem;
        margin-bottom: 2rem;
    }
    p{
        font-size: 1rem;
        margin-bottom: 1rem;
    }
    ul{
        margin-bottom: 1rem;
    }
    ul li{
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
    header p.logo{
        font-size: 1.25rem;
    }
    .colour-block{
        padding: 2rem 0;
        margin-bottom: 2rem;
    }
}